# PROYEK ANALISIS DATA BIKE RENTAL DATASET

+ NAMA : ATSILFIA ALFATH SYAM
+ USERNAME DICODING : atsilfiaalfaths
+ EMAIL : atsilfiaalfath@gmail.com

# Pertanyaan Bisnis
+ Bagaimana pengaruh musim (season) dari tahun 2011 sampai 2012 terhadap jumlah penyewa?
+ Bagaimana pengaruh cuaca (weathersit) terhadap jumlah pengguna?
+ Rata-rata pengendara bersepeda paling tinggi pada waktu kapan?
+ aapakah terjadi peningkatan tren rental sepeda dari tahun 2011 ke 2012?
+ Bagaimana pengaruh temp, atemp, hum, windspeed pada tren rental sepeda?
+ bagaimana pengaruh musim terhadap penyewa berdasarkan pelanggan casual dan registered?

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## LOAD DATA

In [39]:
### load table day

In [53]:
day_df = pd.read_csv("data/day.csv")
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

### load table hour

In [54]:
hour_df = pd.read_csv("data/hour.csv")
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

##ACCESING DATA

###1. info type data day_df

In [55]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

###2. Cek apakah ada missing data

In [56]:
day_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [ ]:
dapat dilihat bahwa tabel day_df tidak ada missing value

###3. cek duplikasi

In [57]:

print("Jumlah duplikasi data: ", day_df.duplicated().sum())

Jumlah duplikasi data:  0

pada kolom dteday diubah tipe data menjadi datetime

In [42]:

day_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

dapat diperhatikan pada data diatas, avg total user 4504, dengan min penyewa 22 dalam sehari, dan maksimal 8714

## Menilai hour_df

### 1. cek type data hour_df

In [58]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

*Ada column yang tidak sesuai tipe datanya yaitu kolom dteday yang seharusnya menjadi datetime*

### 2. cek ada data kosong

In [59]:
hour_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [ ]:
*tidak ada data yang kosong*

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

### 3. cek ada data duplikasi

In [60]:
print("Jumlah duplikasi data: ", day_df.duplicated().sum())

Jumlah duplikasi data:  0

In [ ]:
*Tidak Data duplikasi pada hour_df  *

In [6]:
day_df.nunique()

instant       731
dteday        731
season          4
yr              2
mnth           12
holiday         2
weekday         7
workingday      2
weathersit      3
temp          499
atemp         690
hum           595
windspeed     650
casual        606
registered    679
cnt           696
dtype: int64

In [ ]:
# day_df dapat dikategorykan berdasarkan data tersebut, namun pada kolom weathersit hanya terdapat 3 musim

In [61]:
hour_df.nunique()

instant       17379
dteday          731
season            4
yr                2
mnth             12
hr               24
holiday           2
weekday           7
workingday        2
weathersit        4
temp             50
atemp            65
hum              89
windspeed        30
casual          322
registered      776
cnt             869
dtype: int64

*pedoman kategory hour_df, pada weathersit terdapat 4 kategori*. data ini berbeda dengan day_df yang hanya memiliki 3 weathersit


jika ditelaah lebih dalam, ditemukan weathersit kategori 4 pada hour_df pada waktu:


+ 26/01/2011 pada hr :16
+ 09/01/2012 pada hr : 18
+ 21/01/2012 pada hr : 1

In [62]:
hour_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

## CLEANING DATA

#### 1. Memperbaiki data day_df kolom tdatey

In [63]:

datetime_columns = ["dteday"]

for column in datetime_columns:
  day_df[column] = pd.to_datetime(day_df[column])

In [64]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

*Kolom datetime telah diperbaiki data typenya*

### 2. Memperbaiki tipe data hour_df

*karena terdapat kesalahan tipe data pada kolom dteday ,maka tipe data dteday diperbaiki menjadi datetime*

In [65]:

datetime_columns = ["dteday"]

for column in datetime_columns:
  hour_df[column] = pd.to_datetime(hour_df[column])

In [24]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

*nah sudah berhasil memperbaiki tipe data dteday*

In [66]:
#Rename kolom agar tidak menimbulkan keliru pembacaan tabel
day_df.rename(columns={
    'dteday': 'dateday',
    'yr': 'year',
    'mnth': 'month',
    'cnt': 'total_count_user'
}, inplace=True)

day_df.head()

,instant,dateday,season,year,month,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,total_count_user
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [67]:
# Mengubah kategori angka ke keterangan pada kolom year, month, season, weekday, weathersit

day_df['year'] = day_df['year'].map({
    0: 2011,
    1: 2012,
})
day_df['month'] = day_df['month'].map({
    1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun',
    7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'
})
day_df['season'] = day_df['season'].map({
    1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'
})
day_df['weekday'] = day_df['weekday'].map({
    0: 'Sun', 1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thu', 5: 'Fri', 6: 'Sat'
})
day_df['weathersit'] = day_df['weathersit'].map({
    1: 'Clear/Partly Cloudy',
    2: 'Misty/Cloudy',
    3: 'Light Snow/Rain',
    4: 'Heavy Rain'
})

In [51]:
day_df.sample(5)

,instant,dateday,season,year,month,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,total_count_user
326,327,2011-11-23,Winter,2011,Nov,0,Wed,1,Misty/Cloudy,0.440833,0.430537,0.757917,0.335825,112,2454,2566
621,622,2012-09-13,Fall,2012,Sep,0,Thu,1,Clear/Partly Cloudy,0.612500,0.579558,0.637083,0.082721,1054,6750,7804
99,100,2011-04-10,Summer,2011,Apr,0,Sun,0,Misty/Cloudy,0.426667,0.426737,0.857500,0.146767,1188,1707,2895
303,304,2011-10-31,Winter,2011,Oct,0,Mon,1,Clear/Partly Cloudy,0.340000,0.356063,0.703333,0.106350,362,3307,3669
349,350,2011-12-16,Winter,2011,Dec,0,Fri,1,Misty/Cloudy,0.375000,0.359825,0.500417,0.260575,178,3399,3577

In [68]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instant           731 non-null    int64
 1   dateday           731 non-null    datetime64[ns]
 2   season            731 non-null    object
 3   year              731 non-null    int64
 4   month             731 non-null    object
 5   holiday           731 non-null    int64
 6   weekday           731 non-null    object
 7   workingday        731 non-null    int64
 8   weathersit        731 non-null    object
 9   temp              731 non-null    float64
 10  atemp             731 non-null    float64
 11  hum               731 non-null    float64
 12  windspeed         731 non-null    float64
 13  casual            731 non-null    int64
 14  registered        731 non-null    int64
 15  total_count_user  731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(4)
memory usage: 91.5+ KB

In [69]:
# Mengubaha tipe data ke categorical
day_df['season'] = day_df.season.astype('category')
day_df['year'] = day_df.year.astype('category')
day_df['month'] = day_df.month.astype('category')
day_df['holiday'] = day_df.holiday.astype('category')
day_df['weekday'] = day_df.weekday.astype('category')
day_df['workingday'] = day_df.workingday.astype('category')
day_df['weathersit'] = day_df.weathersit.astype('category')

In [70]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instant           731 non-null    int64
 1   dateday           731 non-null    datetime64[ns]
 2   season            731 non-null    category
 3   year              731 non-null    category
 4   month             731 non-null    category
 5   holiday           731 non-null    category
 6   weekday           731 non-null    category
 7   workingday        731 non-null    category
 8   weathersit        731 non-null    category
 9   temp              731 non-null    float64
 10  atemp             731 non-null    float64
 11  hum               731 non-null    float64
 12  windspeed         731 non-null    float64
 13  casual            731 non-null    int64
 14  registered        731 non-null    int64
 15  total_count_user  731 non-null    int64
dtypes: category(7), datetime64[ns](1), float64(4), int64(4)
memory usage: 57.9 KB

# Exploratory Data Analysis

## 1. Table day_df

In [72]:
day_df.groupby(by=["year", "month"]).agg({
    "total_count_user": ['max', 'min', 'mean', 'sum'],
})

C:\Users\atsil\AppData\Local\Temp\ipykernel_23128\3038881177.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  day_df.groupby(by=["year", "month"]).agg({

           total_count_user
                        max   min         mean     sum
year month
2011 Apr               5312   795  3162.333333   94870
     Aug               5895  1115  4409.387097  136691
     Dec               3940   705  2816.870968   87323
     Feb               2927  1005  1721.964286   48215
     Jan               1985   431  1231.903226   38189
     Jul               6043  3285  4559.387097  141341
     Jun               5515  3767  4783.733333  143512
     Mar               3239   605  2065.967742   64045
     May               5805  2633  4381.322581  135821
     Nov               4486  1495  3405.566667  102167
     Oct               5511   627  3984.225806  123511
     Sep               5423  1842  4247.266667  127418
2012 Apr               7460  1027  5807.466667  174224
     Aug               7865  4549  6919.451613  214503
     Dec               6606   441  3990.741935  123713
     Feb               5062  1529  3556.448276  103137
     Jan               4521  1301  3120.774194   96744
     Jul               8173  4459  6567.967742  203607
     Jun               8120  4127  6761.000000  202830
     Mar               8362  3194  5318.548387  164875
     May               8294  2843  6318.225806  195865
     Nov               6852  2277  5088.800000  152664
     Oct               8156    22  6414.225806  198841
     Sep               8714  4073  7285.766667  218573

*Dapat diperhatikan pada data ini dibedakan berdasarkan tahun dan bulan*